
@import url('https://fonts.googleapis.com/css?family=Rubik');

@font-face {
    font-family: "Gilroy Bold";
    src: url("../fonts/Gilroy-Bold.woff") format('woff');
}

@font-face {
    font-family: "Gilroy Heavy";
    src: url("../fonts/Gilroy-Heavy.woff") format('woff');
}

@font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/Gilroy-Light.woff") format('woff');
}

@font-face {
    font-family: "Gilroy Medium";
    src: url("../fonts/Gilroy-Medium.woff") format('woff');
}

@font-face {
    font-family: "Gilroy Regular";
    src: url("../fonts/Gilroy-Regular.woff") format('woff');
}

body {
    background-image: url("20_shop.png");
    background-repeat: no-repeat;
    width: 1920px;
    margin: 0px;
    padding: 0px;
}



.topbanner {
    width: 100%;
    height: 40px;
    /* background-image: url("/pictures/topbanner.jpg") */
}


.menubanner {

    width: 1920px;
    height: 140px;

}

.purplecontainer {

    width: 100%;
    height: 400px;
    background-image: url("/pictures/purple.png");

}

.infoboxSection {
    
    display: inline-flex;
    margin: 20px auto;
}

.infobox {
    background-color: white;
    width: 100%;
    height: 123px;
    display: inline-flex;
    border: 1px solid #cccccc;
    border-radius: 58px;
    margin-top: 8px;
    line-height: 0.5px;
}

.infoboxIcons {
    width: 50px;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    margin-right: 12px;
}


.infoboxText {

    height: 100px;
    text-align: left;
    padding-top: 25px;
}

.infoboxText h5 {
    font-family: "Gilroy Bold";
}

.infoboxText p {
    font-family: "Gilroy Light";
}



.middlecontainer {
    /* background-color: white; */
    
    width: 1170px;
    height: 2574px;
    margin-bottom: 0px;
    margin: 100px auto;
    margin-top: 111px;
}

.PictureMenu {
   background: white; 
    display: flex;
    height: 100px;
    width: 1170px;
    margin-top: 30px;
   justify-content: space-between;
   place-items: center;
}

.PictureMenuLeft {
    display: flex;
}

.menubuttons {
   
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50px;
    background-color: #f9f9ff;

}


.menubuttons img {
    display: block;
    margin: 15px auto;
    
}


#stripes {
    position: relative;
    align-items: center;
    color: white;
    background: #ff8155;
}

.fa-bars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.PictureMenuRight {
    display: flex;
   width: 680px;
}

.PictureMenuRight p {
    width: 250px;
    margin-top: 20px;
    margin-right: 5x;
    margin-bottom: 0px;
    color: #788892;
    font-family: 'Rubik';
    font-size: 14px;
    
}


.PictureMenuRight select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../pictures/angle-down-solid.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    border: 1px solid #cccccc;
    border-radius: 25px;
    margin-right: 20px;
    font-family: 'Rubik';
    font-size: 14px;
    text-align: center;
    font-size: 0.8rem;
    width: 144px;
    height: 54px;
    color: #cccccc;
}


.search {
    
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../pictures/);
    background-repeat: no-repeat;
    border: 1px solid #cccccc;
    border-radius: 25px;
    font-family: 'Rubik';
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    width: 280px;
    height: 54px;
    color: #cccccc;
}

input {
    border-style:none;
    margin-top: 20px;
}

input[type=text] {
    font-family: 'Rubik';
    font-size: 14px;
}


.PictureMenu img {
    height: 20px;
    width: 20px;
}

.cardcontainer {
    display: inline-flex;
    width: 1170px;
}

.card-deck {
   
    width: 1110px;
    margin-top: 28px;

}

.card {
   
    margin-right: 50px;
}

.card img {
    width: 100%;
    height: 390px;
}
 
.card p {
    margin: 0px;
}

.card-body {
    height: 130px;
    width: 100%;
}

.footer {
    width: 100%;
    height: 609px;
    border: 2px solid red;
    padding: 0p;
    margin: 0px;
    /* background-image: url("/pictures/footer.png") */
}