
@import url('https://fonts.googleapis.com/css?family=Rubik');

@font-face {
    font-family: "Gilroy Bold";
    src: url("../fonts/Gilroy-Bold.woff") format('woff');
}

@font-face {
    font-family: "Gilroy Heavy";
    src: url("../fonts/Gilroy-Heavy.woff") format('woff');
}

@font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/Gilroy-Light.woff") format('woff');
}

@font-face {
    font-family: "Gilroy Medium";
    src: url("../fonts/Gilroy-Medium.woff") format('woff');
}

@font-face {
    font-family: "Gilroy Regular";
    src: url("../fonts/Gilroy-Regular.woff") format('woff');
}

body {
    background-image: url("20_shop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ------------------ SECTION 1 STARTS HERE ------------------ */


.topbanner {
    width: 100%;
    height: 40px;
    /* background-image: url("/pictures/topbanner.jpg") */
}


.menucontainer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 40px;
  }
  
  .menucontainer li {
    float: left;
  }
  
  .menucontainer li a {
    display: block;
    color: #fff;
    padding: 6px 0px 15px 9px;
    margin-right: 6px;
    text-decoration: none;
  }
  
  .menucontainer li a:hover {
    color:#0e1b33;
  }

  #faqTerms {
      border: 1px solid black;
      margin-left: 32px;
      width: 150px;
      height: 40px;
      font-family: 'Rubik';
      font-size: 15px;
      font-weight: bold;
  }

  #faqTerms li a {
      margin-right: 20px;
  }

.mailinfo {
    
    float: right;
    align-content: right;
    border: 1px solid black;
    width: 1089px;
    height: 40px;
    
    font-family: 'Rubik';
    font-size: 15px;
    color: #fff;
}

.mailinfo p {
    margin-right: 6px;
    margin-top: 7px;
    text-align: right;
}


/* ------------------ SECTION 2 STARTS HERE ------------------ */

.menubanner {
    position: relative;
    width: 1920px;
    height: 140px;
}

.menucontainer {
    display: flex;
    position: relative;
    margin: auto;
    width: 1420px;
    height: 140px;
    border: 1px solid black;

}


.sectionsSquares {
    margin-top: 40px;
    border: 1px solid black;
    height: 60px;
}

.sectionsSquares img {
    height: 50px;
    margin-left: 8px;
    margin-top: 2px;
}


.sectionsSquares select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('/pictures/angle-down-solid.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 47px center;
    border: 1px solid #cccccc;
    border-radius: 30px;
    font-family: 'Rubik';
    font-size: 5px;
    text-align: left;
    padding-left: 20px;
    width: 80px;
    height: 40px;
    color: #cccccc;
}

#box2 {
    position: relative;
    width: 350px;
}


.box2buttons {
    display: flex;
    margin: 8px 0 5px 80px;
}



#box2 p {
    position: relative;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 12px;
    width: 170px;
    height: 40px;
    color: #fff;
    background-color: #ff8155;
    border-radius: 30px;
    margin: 0px auto;
    text-align: center;
    padding: 10px;
}

#box3 {

    width: 650px;
    border: 1px solid black;
    font-family: 'Rubik';
    list-style: none;
    padding-left: 40px;
}


.sectionsSquares ul {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 70px;
    overflow: hidden;
  }
  
  .sectionsSquares li {
    float: left;
    margin-right: 2px;
  }
  
  .sectionsSquares li:nth-child(6) {
      margin-right: 0px;
  }

  .sectionsSquares li a {
    display: block;
    color: #0e1b33;
    margin-right: 5px;
    text-decoration: none;
  }
  
  .sectionsSquares li a:hover {
    color:#0e1b33;
  }


  #box4 {
    
    position: relative;
    width: 245px;
    border: 1px solid black;
}

.quote {
    
    margin-left:25px;
    border: 1px solid black;
    width: 220px;
    height: 60px;
    background-color: #ff8155;
    border-radius: 30px;
}

  #box4 p {
    
    position: relative;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 12px;
    width: 170px;
    height: 60px;
    color: #fff;
    
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
}






/* ------------------ SECTION 3 STARTS HERE ------------------ */


.purplecontainer {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("/pictures/purple.png");
    text-align: center;
    padding-top: 100px;
}

.purpleWrapper {
    width: 100%;
    height: 400px;
    position: absolute;

}

.purplecontainer h5 {
    font-size: 18px;
    color: #fff;
    font-family: 'Rubik';
    letter-spacing: 4px;
    margin-bottom: 20px;
    
}

.purplecontainer h1 {
    font-size: 75px;
    color: #fff;
    font-family: 'Gilroy Bold';
    margin-bottom: 22px;
}

.purplecontainer p {
    color: #fff;
    font-size: 16px;
}


/* ------------------ SECTION 4 STARTS HERE ------------------ */


.infoboxSection {
    
    display: inline-flex;
    margin: 20px auto;
}

.infobox {
    background-color: #fff;
    width: 100%;
    height: 123px;
    display: inline-flex;
    border: 1px solid #cccccc;
    border-radius: 58px;
    margin-top: 8px;
    line-height: 0.5px;
}

.infoboxIcons {
    width: 50px;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    margin-right: 12px;
}


.infoboxText {

    height: 100px;
    text-align: left;
    padding-top: 25px;
}

.infoboxText h5 {
    font-family: "Gilroy Bold";
}

.infoboxText p {
    font-family: "Gilroy Light";
}




/* ------------------ SECTION 5 STARTS HERE ------------------ */

.middlecontainer {
    /* background-color: #fff; */
    
    width: 1170px;
    height: 2574px;
    margin-bottom: 0px;
    margin: 100px auto;
    margin-top: 111px;
}

.PictureMenu {
   background: #fff; 
    display: flex;
    height: 100px;
    width: 1170px;
    margin-top: 30px;
   justify-content: space-between;
   place-items: center;
}

.PictureMenuLeft {
    display: flex;
}

.menubuttons {
   
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50px;
    background-color: #f9f9ff;

}


.menubuttons img {
    display: block;
    margin: 15px auto;
    
}


#stripes {
    position: relative;
    align-items: center;
    color: #fff;
    background: #ff8155;
}

.fa-bars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.PictureMenuRight {
    display: flex;
   width: 680px;
}

.PictureMenuRight p {
    width: 250px;
    margin-top: 20px;
    margin-right: 5x;
    margin-bottom: 0px;
    color: #788892;
    font-family: 'Rubik';
    font-size: 14px;
    
}


#text {
    font-family: 'Rubik';
    font-size: 14px;
}

.sortby {
    margin: 10px auto;
    text-align: ce nter; 
}

.PictureMenuRight select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('/pictures/angle-down-solid.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 100px center;
    border: 1px solid #cccccc;
    border-radius: 25px;
    margin-right: 30px;
    font-family: 'Rubik';
    font-size: 14px;
    text-align: center;
    width: 140px;
    height: 54px;
    color: #cccccc;

}

.search {
    margin-right: 0px;
}

.searchText {
    display: grid;
    width: 250px;
    height: 54px;
    place-items: center;
}

.searchButton {
    background: #fff;
    border: none;
}

.search input {
    background-image: url('/pictures/search-solid.svg');
    background-repeat: no-repeat;
    background-position: 220px;
    background-size: 10px;
    border-style:none;  
    font-family: 'Rubik';
    font-size: 14px;
    margin: 10px auto;
    border: 1px solid #cccccc;
    border-radius: 25px;
    font-family: 'Rubik';
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    width: 250px;
    height: 54px;
    color: #cccccc;
    
}



/* ------------------ SECTION 6 STARTS HERE ------------------ */



.PictureMenu img {
    height: 20px;
    width: 20px;
}

.cardcontainer {
    display: inline-flex;
    width: 1170px;
}

.card-deck {
   
    width: 1270px;
    margin: 15px 0px 0px 0px;
   

}

.card-deck .card {
   width: 340px;
   margin: 0px;
   padding: 0px;
}

.card img {
    width: 340px;
    height: 410px;
}
 
.card p {
    margin: 0px;
}

.card-body {
    height: 100px;
    width: 340px;
}



/* ------------------ SECTION 7 STARTS HERE ------------------ */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 609px;
    background-image: url("/pictures/footer.png")
}

.footercontainer {
   
    display: flex;
    width: 1180px;
    height: 609px;
    margin: 0px auto;
}


.section1 {
    border: 1px solid red;
    width: 393px;
    height: 610px;
    padding-top: 96px;
    padding-left: 3px;
}

.section1 img {
    width: 160px;
    color: #fff;
    padding-bottom: 37px;
}

.section1 p {
    color: #A9B2C0;
    font-family: 'Rubik';
    font-size: 14px;
    line-height: 25px;
    height: 145px;
    width: 320px;
}

.copyright {
    margin-top: 200px;
}

.section1 ul {
    list-style-type: none;
    padding: 0px;
  }

  .section1 li {
    position: relative;
    float: left;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-right: 10px;
    }

  #twitter {
    color: #fff;
    }

  .section1 ul li i {
    color:#0e1b33;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .section1 li a {
    display: block;
    color: #fff;
    margin-right: 6px;
  }
  
  .section1 li a:hover {
    columns: #30353d;
  }

  .section1 ul li:nth-child(2) {
    background-color: #ff8155;
  }


.section2 {
    width: 393px;
    height: 610px;
}

.section2 h5 {
    color: #fff;
    padding-top: 99px;
    padding-left: 6px;
    font-family: 'Rubik';
    font-weight: bolder;
    
}

.orange {
    color: #ff8155;
}

table {
    margin-left: 7px;
    color: #A9B2C0;
    font-family: 'Rubik';
    font-size: 13px;
    width: 365px;
    height: 280px;
}


.section3 {
    border: 1px solid red;
    width: 393px;
    height: 610px;
}

.section2 h4 {
    color: #fff;
    padding-left: 14px;
    margin-top: 100px;
    padding-bottom: 30px;
    font-family: 'Rubik';
    font-weight: bolder;
}



.newsfeedcontainer1 {
    display: flex;
    width: 390px;
    height: 90px;
}

.footerpicture {
    padding-left: 15px;
    width: 110px;
    height: 90px;
}


.footerpicturetext {
    width: 100%;
    height: 90px;
}

.section3 h4 {
    color: #fff;
    padding-left: 14px;
    margin-top: 100px;
    padding-bottom: 30px;
    font-family: 'Rubik';
    font-weight: bolder;
}



.section3 h5 {
    color: #fff;
    padding-left: 19px;
    font-size: 18px;
    font-family: 'Rubik';
    font-weight: bolder;
}

.section3 p {
    color: #fff;
    padding-left: 19px;
    font-size: 13px;
    font-family: 'Rubik';
}
