
    <div class="cardcontainer">

        <div class="card-deck" data-ng-repeat="product in products | filter: searchText | orderBy:sortColumn | limitTo:rowLimits">
            <div class="card">

                <img data-ng-src="{{ product.image_urls }}">

                <div class="card-body">
                    <h5>{{ product.productname }}</h5>
                    <p>{{ product.author }}</p>
                    <span class="money">
                        <p>{{ product.price }}</p>
                    </span> <p><span class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></span></p>
                </div>

            </div>
        </div>

    </div>

